extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Brand:
      input#name.form-control(type='text', placeholder='LS, MT etc.' name='name' required value=(undefined===brand ? '' : brand.name) )
    button.btn.btn-primary(type='submit') Save

  if errors
    ul
      for error in errors
        li!= error.msg
