extends layout

block content
  h1= title
  p Welcome to home of your #[em Inventory app] homepage.

  p Your inventory currently includes following items: 

  ul
    li #[strong Products:] !{product_count}
    li #[strong Brands:] !{brand_count}
    li #[strong Categories:] !{category_count}
