extends layout

block content
  h1= title
  p Welcome to home of your #[em Inventory app] homepage.

  p Your inventory currently have

  ul
    li  #[strong !{product_count} Products]
    li  #[strong !{brand_count} Brands]

  p in #[strong !{category_count} categories.]
