extends layout 

block content

    p Do you really want to delete this product?

    form(method='POST')
        div.form-group
            input#productid.form-control(type='hidden', name='productid', value=product._id)

        button.btn.btn-primary(type='submit') Delete 
        a.btndelete(href=product.url) Cancel
