body {
  background-color: #0f1518;
  color: #cccccc;

  padding: 50px;
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #ebeb06;
}
.btndelete {
  margin-left: 21px;
}
.sidebar-nav {
  font-size: 0.9em;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
